@model Quiron.LojaVirtual.Dominio.Entidade.Produtos

<div class="well row">
    <h3 class="col-xs-12"><strong>@Model.Nome</strong></h3>
    <h3><span class="pull-right label label-primary col-xs-3">@Model.Preco.ToString()</span></h3>
    <span class="lead col-xs-8">@Model.Descricao</span>
</div>